@font-face {
    font-family: "Cera";
    font-weight:600;
    src: local("Cera"), 
    url(../fonts/CeraProMedium.ttf) format("truetype"), 
    url(../fonts/CeraProMedium.woff) format("woff"), 
    url(../fonts/CeraProMedium.woff2) format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "Cera";
    font-weight:400;
    font-style: normal;
    src: local("Cera"), 
    url(../fonts/CeraProRegular.ttf) format("truetype"), 
    url(../fonts/CeraProRegular.woff) format("woff"), 
    url(../fonts/CeraProRegular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Cera";
    font-weight:300;
    src: local("Cera"), 
    url(../fonts/CeraProLight.ttf) format("truetype"), 
    url(../fonts/CeraProLight.woff) format("woff"), 
    url(../fonts/CeraProLight.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Cera";
    font-weight:400;
    font-style: italic;
    src: local("Cera"), 
    url(../fonts/CeraProRegularItalic.woff) format("woff"), 
    url(../fonts/CeraProRegularItalic.woff2) format("woff2"), 
    url(../fonts/CeraProRegularItalic.ttf) format("truetype");
    font-display: swap;
}



@font-face {
    font-family: "Manrope";
    font-weight:600;
    src: local("Manrope"), 
    url(../fonts/Manrope-Medium.ttf) format("truetype"), 
    url(../fonts/Manrope-Medium.woff) format("woff"), 
    url(../fonts/Manrope-Medium.woff2) format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "Manrope";
    font-weight:400;
    src: local("Manrope"), 
    url(../fonts/Manrope-Regular.ttf) format("truetype"), 
    url(../fonts/Manrope-Regular.woff) format("woff"), 
    url(../fonts/Manrope-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    font-weight:300;
    src: local("Manrope"), 
    url(../fonts/Manrope-Light.ttf) format("truetype"), 
    url(../fonts/Manrope-Light.woff) format("woff"), 
    url(../fonts/Manrope-Light.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    font-weight:300;
    src: local("CormorantGaramond"), 
    url(../fonts/CormorantGaramond-Light.ttf) format("truetype"), 
    url(../fonts/CormorantGaramond-Light.woff) format("woff"), 
    url(../fonts/CormorantGaramond-Light.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    font-weight:400;
    src: local("CormorantGaramond"), 
    url(../fonts/CormorantGaramond-Regular.ttf) format("truetype"), 
    url(../fonts/CormorantGaramond-Regular.woff) format("woff"), 
    url(../fonts/CormorantGaramond-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    font-weight:600;
    src: local("CormorantGaramond"), 
    url(../fonts/CormorantGaramond-Medium.ttf) format("truetype"), 
    url(../fonts/CormorantGaramond-Medium.woff) format("woff"), 
    url(../fonts/CormorantGaramond-Medium.woff2) format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Cakra";
    font-weight:400;
    src:
    /* local("Cakra"),  */
    url(../fonts/Cakra.ttf) format("truetype"),
    url(../fonts/Cakra.otf) format("opentype"),
    url(../fonts/Cakra.woff2) format("woff2"),
    url(../fonts/Cakra.woff) format("woff");
    font-display: swap;
}