/*
styles for header theme basic
*/

:root {
    --black: #252525;
    --green: #01AF34;
    --light-green: #D6ECDC;
    --dark-green: #476850;
    --yellow: #F7F300;
}


header.header {
    position: fixed;
    background: transparent;
    width: 100%;
    font-size: 18px;
    z-index: 15;
}

.header__top {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: space-between;
    color: transparent;
}

/* .header__top:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #252525;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* .header__top:after {
    content: '';
    width: 50%;
    height: 300px;
    background: rgba(26, 38, 255, 0.3);
    background: rgba(198, 234, 95, .3);
    position: absolute;
    left: 25%;
    bottom: 0;
    border-radius: 100%;
    filter: blur(200px);
    z-index: 1;
} */

.header__menu__container nav ul {
    display: flex;
    justify-content: center;
}

.menu-item ul.sub-menu {
    display: none;
    border-top: 3px solid rgba(22, 159, 219, 0.75);
    background: rgba(49, 49, 49, .9);
    z-index: 5;
    position: absolute;
    left: -60%;
    top: 37px;
    /* bottom: -10px; */
    width: 250px;
    padding: 20px 0;
    font-size: 14px;
}

.mobile__menu__inner {
    display: none;
    opacity: 0;
}

ul.sub-menu li {
    width: 100%;
    padding: 5px 10px;
}

ul.sub-menu li a {
    text-transform: none;
    line-height: 1.2;
}

.menu-item.menu-item-has-children:hover ul.sub-menu {
    display: block;
    opacity: 1;
}


span.sr-only {
    display: none;
}

.header__top__left h1 {
    margin-bottom: 0;
}

/* .header__top__left h1 {
    visibility: hidden;
    margin-bottom: 0;
    font-size: 0.5px;
    font-weight: 300;
} */

.header__top__left h1 {
    margin-bottom: 0;
    color: var(--black);
    font-size: 14px;
    text-align: left;
    font-weight: 400;
}

.header__top__left{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header__top__left__content h1, .header__top__left__content p {
    color: #fff;
}

a.site-header__logo {
    display: block;
}

.site-header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left center;
}

.header__top__right {
    /* display: flex;
    width: calc(100% - 300px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; */
}

.header__top__right__phone {
    text-align: right;
    margin-right: 20px;
}

.header__top__right__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a.header__top__right__phone__link {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all .3s linear;
}

nav ul.header__menu {
    display: flex;
    margin-top: 10px;
    column-gap: 15px;
    justify-content: flex-end;
}

a.header__top__right__phone__link:hover {
    color: #169fdb;
    transition: all .3s linear;
}

.header__top__right .button {
    align-self: center;
    width: 150px;
    display: block;
    padding: 7.3px 20px;
}

ul.header__top__right__contacts,
ul.header__menu__messengers {
    transition: all .3s linear;
}

ul.header__menu__messengers {
    justify-content: flex-end;
}

li.htr__contacts__item a {
    display: flex;
    align-items: center;
}

a.htr__contacts__item__link img {
    width: 20px;
    height: 16px;
    object-fit: contain;
    margin-right: 7px;
}

ul.header__menu__messengers.flex.align-center li:not(:first-child) {
    margin-left: 15px;
}

ul.header__menu__messengers.flex.align-center li {
    transform: none;
    transition: all .5s linear;
}

ul.header__menu__messengers.flex.align-center li:hover {
    transform: translateY(-5px);
    transition: transform .3s linear;
}

li.social__item {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1.5px solid var(--green);
    background: var(--green);
    border-radius: 100%;
    transition: all .3s linear;
}

li.social__item a {
    height: 100%;
}

li.social__item:hover {
    background: var(--black);
    border-color: var(--black);
    filter: drop-shadow(0 0 5px rgba(1, 175, 52, 0.5));
    transition: all .3s linear;
}

li.social__item .social__link img {
    width: 100%;
    height: 100%;
}

.social__link {
    display: block;
}

.social__link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.header__top__left {
    width:50%;
    transition: all .5s ease-in;
}

.header a {
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
}

.header a:hover {
    color: var(--green);
    transition: all .3s linear;
}


a.site-header__logo {
    display: block;
    width: 70px;
    height: 90px;
    transition: all .3s ease-in-out;
}


ul.header__menu__messengers li {
    transform: none;
    transition: transform .3s linear;
}

.header__bottom .fixed-container {
    padding: 0 5%;
}

.header__bottom .fixed-container {
    position: relative;
}

.header__menu__container {
    width: 100%;
    justify-content: center;
}

.header__top .fixed-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.header__menu li a {
    display: block;
    letter-spacing: .05em;
    color: #fff;;
    font-weight: 400;
    transition: all .3s linear;
}

/* .header__top__right__menu {
    margin-top: 10px;
} */

/* .header__menu li:hover{
    background: #292929;
    transition: all .3s linear;
} */


.sub-menu li:hover:after {
    content: none;
}

.sub-menu li:hover {
    background: transparent;
    transition: all .3s linear;
}

.sub-menu li:hover a {
    color: var(--yellow);
}

.header__menu li {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: all .3s linear;
}

.header__menu li:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 1px;
    left: 0;
    bottom: 0;
    background: var(--green);
    transition: transform .4s linear;
}

/* .current_page_item.current-menu-item {
    background: rgba(22,158,207,.5);
    transition: all .3s linear;
}

.current_page_item.current-menu-item:hover{
    background: #313131;
    transition: all .3s linear;
} */

.header__menu li:hover:after {
    transform: scale(1);
    transition: transform .4s linear;
}

nav.header__menu ul {
    display: flex;
}

nav.header__menu ul li:not(:last-child) {
    margin-right: 15px;
}



button.header__burger {
    display: none;
    position: relative;
    background: transparent !important;
    box-shadow: none !important;
    width: 40px;
    height: 20px;
    border: none;
    background: transparent;
}

span.burger__line {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green);
    display: block;
    border-radius: 5px;
    transition: all .3s linear;
}

.header__burger:after,
.header__burger:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--green);
    display: block;
    border-radius: 5px;
    transition: all .3s linear;
}

.header__burger:before {
    top: 0;
}

.header__burger:after {
    bottom: 0;
}

span.burger__line {
    top: 9px;
}

button.header__burger.burger._open:before {
    top: 50%;
    transform: rotate(45deg);
    background: var(--green);
}

button.header__burger.burger._open:after {
    top: 50%;
    transform: rotate(-45deg);
    background: var(--green);
}

.header__bottom._open .fixed-container {
    padding: 0;
}

.header__menu__container nav {
    width: 100%;
}

/* .header__burger:hover:after,
.header__burger:hover:before,
.header__burger:hover,
.header__burger:active:after,
.header__burger:active:before,
.header__burger:active{
    background:rgba(22, 159, 219, 0.9);
    filter:drop-shadow(0 0 10px rgba(22, 159, 219, 0.9));
    transition: all .3s linear;
} */

button.header__burger.burger._open .burger__line {
    opacity: 0;
}

/*
.header__burger:hover .burger__line:before,
.header__burger:active .burger__line:before{
    transform:scale(.7);
} */

span.burger__line:before {
    top: 8px;
}

span.burger__line:after {
    top: 16px;
}

/*header scroll styles*/

.header__top.header-scroll {
    background: rgba(25, 25, 25, .8);
    border-bottom: 1px solid #000;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: all .3s linear;
}

.header__top.header-scroll .fixed-container .header__top__left .site-header__logo{
display: block;
width: 50px;
height: 70px;
transition: all .5s ease-in-out;
}

/* .header__top.header-scroll .fixed-container .header__top__left .site-header__logo {
    width: 120px;
} */

.header__top.header-scroll:after {
    width: 0;
    transition: all .3s linear;
}



@media (max-width: 1024px) {
    header.header {
        position: fixed;
    }

    /* button.header__burger {
        display:block;
        z-index:10;
    } */

    .header__bottom._open .fixed-container {
        padding: 5%;
    }

    li#menu-item-380 {
        background: transparent;
    }

    .header__top__right {
        width: auto;
    }

    .header__top__right__phone {
        width: auto;
        margin-bottom: 0;
        margin-right: 15px;
    }

    /* 
    .header__top__right .button {
        margin-right: 15px;
    } */



    /* .header__top__right {
        display: block;
        position: fixed;
        bottom: 20%;
        right: 0;
        z-index: 5;
    } */
    /* 
    ul.header__menu__messengers {
        flex-direction: column;
    } */

    /* .header__top__right {
    display: none;
    } */
    .header__top__right .button {
        height: auto;
        margin-right: 20px;
    }

    .header__bottom {
        position: fixed;
        display: none;
        transform: translateX(120%);
        width: 60%;
        height: 100vh;
        opacity: 0;
        right: 0;
        background: rgb(19 19 19 / 95%);
        transition: all .5s linear;
    }

    /* .header__bottom {
        transform: translateY(-100%);
    opacity: 0;
    width: 100%;
    background: #000;
    right: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    transition: transform .3s ease-in-out;
    } */
    /* 
    ul.header__menu__messengers.flex.align-center li:not(:first-child) {
        margin-left: 0;
    }

     .header__menu__messengers.flex.align-center li {
        width: 40px;
        height: 40px;
        padding: 7px;
    background: rgba(49,49,49,.85);
    border-radius: 10px 0 0 10px;
    } */
    /* 
    li.social__item a {
        display: block;
    position: absolute;
    width: 100%;
    background: rgba(49,49,49,.9);
    } */
    /* 
    .header__bottom .header__menu__container {
        width: 100%;
        justify-content: flex-start;
        padding-top: 100px;
    } */

    /* ul.header__menu__messengers li:not(:first-child){
        margin-left: 0;
        margin-right: 0;
        margin-top:10px; 
    } */

    li.social__item .social__link img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }


    /* .header__menu__messengers li:hover,
    .header__menu__messengers li:active,
    .header__menu__messengers li:focus{
        padding-right: 15px;
    } */

    /* .header__menu {
        flex-direction: column;
    } */

    /* .header__bottom .fixed-container {
        position: relative;
        padding: 5%;
    } */

    .header__bottom._open {
        display: block;
        z-index: 5;
        transform: translateX(0);
        opacity: 1;
        transition: all .5s ease-out;
    }

    /* .header__menu li a {
        text-align: left;
        line-height: 2;
        font-size: 20px;
    } */

    .header__bottom .fixed-container {
        padding: 5%;
    }

    ul.sub-menu li {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    ul.sub-menu li a {
        font-size: 20px;
    }

    ul.sub-menu li:not(:first-child) {
        margin-top: 10px;
    }

    ul.sub-menu li:before {
        content: '';
        width: 3px;
        height: 3px;
        margin-right: 10px;
        display: block;
        background: #169fdb;
        border-radius: 100%;
    }

    .header__menu li:after {
        content: none;
        width: 80%;
        /* margin: 0 auto; */
        height: 1px;
        background: none;
        border-bottom: 0.5px solid #00AEEF;
        display: block;
        position: absolute;
        bottom: 0;
        left: 10%;
        transform: scale(1);
    }

    .menu-item ul.sub-menu {
        border: none;
    }

    .header__menu li {
        position: relative;
        width: auto;
        ;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        transition: all .3s linear;
    }

    .header__menu li {
        padding: 0;
        margin: 0;
        width: auto;
    }

    .menu-item ul.sub-menu {
        display: block;
    }

    .menu-item ul.sub-menu li:after {
        content: none;
    }

    .menu-item ul.sub-menu {
        position: relative;
        background: transparent;
        top: unset;
        width: auto;
        left: unset;
        padding: 20px 0;
    }

    /* ul.header__menu__messengers,
    .header__top.header-scroll .fixed-container .header__top__right .header__menu__messengers {
        position: fixed;
    flex-direction: column;
    bottom: 30px;
    margin-right: 0;
    right: unset;
    left: 10px;

    }

    ul.header__menu__messengers.flex.align-center li:not(:first-child) {
        margin-left: 0;
        margin-top:20px;
    } */

    a.header__top__right__phone__link {
        font-size: 18px;
    }

    .header__top__right .button {
        align-self: center;
        width: 140px;
        display: block;
        padding: 7px;
    }
}

@media (max-width: 992px) {
    /* .header__top__left {
        width: 150px;
        height: 100%;
        transition: all .5s ease-in;
    } */
}

@media (max-width: 768px) {
    .header__top__right {
        display: none;
    }

    button.header__burger {
        display: block;
    }

    nav.mobile__menu ul li a {
        font-size: 20px;
        line-height: 2;
    }

    /* body._fixed {
        overflow: hidden;
        position: fixed;
    } */


    .mobile__menu__inner {
        display: none;
        flex-direction: column;
        opacity: 0;
        right: 0;
        background: rgb(0 24 7 / 75%);
        position: fixed;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        -moz-backdrop-filter: blur(30px);
        -ms-backdrop-filter: blur(30px);
        -o-backdrop-filter: blur(30px);
        padding: 100px 20px;
        transform: translateX(100%);
        width: 40%;
        /* background: #fff; */
        z-index: 5;
        height: 100%;
        transition: transform .5s linear;
    }


    .mobile__menu__inner._open {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    z-index: 11;
    width:60%;
    opacity: 1;
    transform: translateX(0);
    transition: transform .5s linear;
    }

    .mobile__menu__inner nav ul li a {
        color: #fff;
        line-height: 2.6;
    }

    /* .header__top__left {
        width: 150px;
    } */

    .header__top__right {
        flex-wrap: wrap;
        width: calc(100% - 170px);
    }

    ul.header__top__right__contacts {
        order: 3;
        margin-top: 15px;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .mobile_menu__contacts:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        background: #01AF34;
    }

    .header__top__right__phone {
        text-align: left;
    }

    ul.header__menu__messengers {
        justify-content: flex-start;
    }

    /* ul.header__top__right__contacts li:not(:first-child) {
        margin-left: 20px;
    } */

    .header__top__right__phone {
        margin-right: 2%;
    }

    .header__top__right__phone {
        width: 100%;
        margin-bottom: 10px;
    }


}

@media (max-width: 576px) {
    .header__top__right__phone {
        width: 100%;
    }
}


@media (max-width: 480px) {
    /* .header__top .fixed-container {
        flex-direction: column;
    } */

    .header__bottom {
        width: 100%;
    }

    .header__top__right {
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    ul.header__top__right__contacts {
        order: unset;
    }

    ul.header__top__right__contacts {
        order: unset;
        width: auto;
        margin-top: 0;
    }

    ul.header__top__right__contacts li a span {
        display: none;
    }

    li.htr__contacts__item {
        background: rgba(22, 159, 219, 1);
        align-self: center;
        height: 100%;
        padding: 7px 5px;
        border-radius: 3px;
    }

    a.htr__contacts__item__link img {
        margin-right: 0;
    }

    .header__top__right__phone {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    a.header__top__right__phone__link {
        font-size: 18px;
        display: block;
        text-align: center;
    }

    .header__top__right .button {
        width: auto;
        line-height: 1;
    }

    .header__bottom {
        width: 100%;
    }

    ul.header__top__right__contacts li:not(:first-child) {
        margin-left: 10px;
    }

    a.site-header__logo {
        display: block;
        width: 50px;
        height: 50px;
    }

    .header__top {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobile__menu__inner._open {
        width: 100%;
    }   
    
    .mobile__menu li a {
        font-size: 20px;
        line-height: 2;
        text-align: center;
        display: block;
    }

    ul.header__menu__messengers {
        justify-content: center;
    }

}