html {
    overflow-x: hidden;
}

.show-temp {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    color: #000;
    z-index: 10;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
}

body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Cera", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    line-height: 1.6;
    background-color: var(--light-green);
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

ol,
ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #111111;
    text-decoration: none;
    transition: all .3s linear;
}

a:hover {
    color: #6e9600;
    /* filter:drop-shadow(0 0 5px rgba(22,159,219, 0.85)); */
    transition: all .3s linear;
}

.button,
a.button,
.wpcf7-submit.has-spinner {
    display: block;
    background: rgba(1, 175, 51, .7);
    text-align: center;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Cakra';
    font-weight: 400;
    letter-spacing: 3px;
    padding: 15px 35px;
    color: #fff;
    border-radius: 3px;
    width: 300px;
    border: 1px solid rgba(1, 175, 51, .7);
    transition: all .3s linear;
}

a.button.fill,
.wpcf7-submit.has-spinner {
    background: var(--green);
    cursor: pointer;
    transition: all .3s linear;
    color: #ffffff;
}

a.button.fill:hover,
a.button:hover,
.wpcf7-submit.has-spinner:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
    transition: all .3s linear;
    transform: scale(1.02);
}

.wpcf7-submit.has-spinner.cf-submit.button.fill {
    display: block;
    margin: 30px auto 0;
}

h1 {
    font-family: 'Cakra';
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.background-grey {
    background: #eeeeee;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 60px;
    }

}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

h2 {
    font-size: 42px;
    font-family: 'Cakra';
    margin: 0;
    line-height: 1.2;
    color: var(--black);
    letter-spacing: 3px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Cakra';
    line-height: 100%;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 0;
}

.site-container {
    /* height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

section.site-page {
    padding-bottom: 7%;
}

.site-page__content {
    padding: 40px 0;
}

h2.site-page__title {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    /* color: var(--black); */
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

h2.site-page__title.toopacity {
    text-align: center;
}

h2.site-page__title:after {
    content: '';
    width: 20%;
    height: 1px;
    background: var(--black);
}

h2.site-page__title:before {
    content: '';
    width: 20%;
    height: 1px;
    background: var(--black);
}

.fixed-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    /* padding: 0 5%; */
    margin: 0 auto;
    z-index: 5;
}

.white{
    color: #fff;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.content-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
}

.content-start {
    justify-content: flex-start;
}

.content-end {
    justify-content: flex-end;
}

.blue-shadow {
    filter: blur(0, 0, 0, 10, #169fdb);
}

main.main {
    width: 100%;
    height: 100%;
}

.arrow-up {
    display: none;
}

.arrow-up.show {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.arrow-up.show svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.arrow-up.show {
    cursor: pointer;
    z-index: 5;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(1, 175, 52, 0.7);
    background: rgba(1, 175, 52, 0.7);
    border-radius: 100%;
    transition: all .3s linear;
}

.arrow-up.show:hover {
    background: transparent;
    border: 1px solid rgba(1, 175, 52, 1);
    transition: all .3s linear;
}

.arrow-up.show:hover svg {
    transform: translateY(-5px);
    transition: transform .3s linear;
}

.arrow-up.show svg {
    transition: transform .3s linear;
}

.arrow-up.show:hover svg path {
    fill: rgba(1, 175, 52, 1);
}

.destr-img div img {
    opacity: .5;
    filter: saturate(0);
    -webkit-filter: saturate(0);
    -moz-backdrop-filter: saturate(0);
    -ms-backdrop-filter: saturate(0);
    transition: filter 1s ease-in, opacity .5s linear;
}

.destr-img.element-show div img {
    opacity: 1;
    filter: saturate(1);
    -webkit-filter: saturate(1);
    -moz-backdrop-filter: saturate(1);
    -ms-backdrop-filter: saturate(1);
    transition: filter 1s ease-out, opacity .5s linear;
}

/* .page-container .fixed-container {
    display: flex;
    justify-content: space-between;
} */

/* .page-container {
    margin-top: 20px;
    margin-bottom: 40px;
} */

aside.sidebar__page {
    border: 1.5px solid #00AEEF;
    border-radius: 7px;
    width: 25%;
    padding: 15px;
}

ul.posts__list {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 20px;
}

li.posts__list__item {
    position: relative;
    height: 270px;
}

ul.posts__list li:nth-child(3n) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.posts__list__item__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
}

a.posts__list__item__link:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    background: rgba(49, 49, 49, .5);
    background: linear-gradient(0deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .9) 100%);
    transition: opacity .3s linear;
}

a.posts__list__item__link:hover:after {
    opacity: .2;
    transition: opacity .3s linear;
}

a.posts__list__item__link:hover img {
    transform: scale(1.05);
    transition: transform .3s linear;
}

a.posts__list__item__link:hover h3.posts__list__item__heading {
    color: rgb(22, 159, 219);
    transition: all .3s linear;
}

h3.posts__list__item__heading {
    position: absolute;
    top: 20px;
    color: #fff;
    z-index: 2;
    font-weight: 600;
    width: 90%;
    text-align: center;
    left: 5%;
    transition: all .3s linear;
}

a.posts__list__item__link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .3s linear;
}

/*HERO*/

.section-hero {
    position: relative;
    background: #fff;
    height: 100vh;
}

/* section.section-hero:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 24, 7);
    background: linear-gradient(0deg, rgba(0, 24, 7, 1) 0%, rgba(0, 24, 7, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
} */

section.section-hero:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,40,12, 0.8);
    background: linear-gradient(180deg, rgba(0,0,0, .8) 0%, rgba(0,40,12, 0.8) 50%, rgba(0,0,0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

img.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

a.hero-button{
    position: relative;
    display: block;
    background: rgba(1, 175, 52, .7);
    text-align: center;
    font-size: 16px;
    /* backdrop-filter: blur(20px); */
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Cakra';
    font-weight: 400;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid rgba(1, 175, 52, .3);
    width: 300px;
    transition: all .3s linear;
}

a.hero-button:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
    transition: all .3s linear;
}


.section-hero__content__title h1 {
    font-size: 95px;
    color: #fff;
}

.section-hero__background {
    position: relative;
    height: 100%;
    width: 70%;
    background: #fff;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: relative;
    height: 100%;
    width: 70%;
    background: rgba(11, 58, 78, .5);
    clip-path: polygon(60% 0%, 100% 100%, 100% 100%, 0% 100%);
}

/* 
.section-hero__content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
} */

.section-hero__img{
    height: 100%;
}
.section-hero__img .fixed-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
    z-index: 3;
}

.section-hero__img__left-content .button {
    margin: 40px auto 0;
}

.section-hero__img__title,
.section-hero__img__left-content {
    width: 60%;
}

.section-hero__img__left-content {
    position: relative;
    color: #fff;
    text-align: center;
    /* padding: 40px 20px;
    border-radius: 5px;
    background: rgba(255,255,255, .5);
    border-bottom: 1px solid #111;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); */
}

a.hero-button.button.fill:hover {
    background: #111;
    border: 1px solid #111111;
    color: #fff;
    transition: all .3s linear;
}

/* .section-hero__img__left-content:after{
    content: '';
    width: 160px;
    height: 170px;
    display: block;
    position: absolute;
    background: url(../images/decor1.svg) no-repeat;
    background-size: contain;
    background-position: center;
    right: -70px;
    bottom: -70px;
} */

.section-hero__img__left-content p:not(:last-child) {
    margin-bottom: 10px;
}

/* .section-hero__img {
    height: 100%;
} */
/* .section-hero__content__title {
    transform: translate(20px, 50px);
    z-index: 2;
} */
/* .section-hero__content-wrapper .fixed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 43%;
    height: 100%;
} */

/* p.hero-description {
    margin-top: 20px;
} */

.hero-button {
    margin-top: 20px;
}

.subs-item {
    position: relative;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(30px);
}

.subs-item .e-con-inner:before {
    content: '';
    width: 77px;
    height: 54px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 5;
    display: block;
    background: url(../images/check.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

/*CF FORMS*/

.wpcf7-form-control-wrap input.cf-input {
    text-align: center;
    color: #fff;
}

.wpcf7-form-control-wrap input.cf-input::placeholder {
    color: #fff;
}

span.wpcf7-form-control-wrap input,
span.wpcf7-form-control-wrap textarea {
    background: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 7px 10px;
}

.form-inner-flex p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

span.wpcf7-form-control-wrap input:focus,
span.wpcf7-form-control-wrap textarea:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #c6ea5f;
}

span.wpcf7-form-control-wrap input:active,
span.wpcf7-form-control-wrap textarea:active {
    border: none;
    outline: none;
    border: 1px solid #c6ea5f;
}

span.wpcf7-form-control-wrap textarea:active,
span.wpcf7-form-control-wrap textarea:focus {
    border: 1px solid #c6ea5f;
}

/* .wpcf7-submit.has-spinner{
        display: block;
        background: #169fdb;
        text-align: center;
        padding: 10px 25px;
        color: #fff;
        border-radius: 3px;
        max-width: 450px;
        margin: 30px auto 0;
        font-size: 20px;
        border: 1px solid #169fdb;
        transition: all .3s linear;
    } */

form.wpcf7-form p .wpcf7-form-control-wrap {
    /* margin-top: 20px; */
    display: block;
}

form.wpcf7-form h3 {
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 30px;
}

span.wpcf7-form-control-wrap .cf-textarea {
    height: 170px;
}

span.wpcf7-form-control-wrap .cf-textarea {
    height: 170px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.cf-question {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

/*MAIN PAGE*/
.about-items-list .e-con-inner .about-item {
    backdrop-filter: blur(30px);
}



/* 
.hero-slider__controls {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 50px;
    z-index: 2;
    width: 100%;
    justify-content: center;
} */
.hero-slider__pagination {
    display: flex;
    justify-content: center;
}

.hero-slider__wrapper {
    margin-top: 50px;
}

/* 
.swiper-slide.hero-slider__slide.swiper-slide-prev, .swiper-slide.hero-slider__slide.swiper-slide-next {
    transform: scale(1.1);
    z-index: 2;
    transition: transform .5s linear;
} */

.hero-slider__button-prev,
.hero-slider__button-next {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    width: 35px;
    background: rgba(227, 231, 49, .5);
    border-radius: 50px;
    height: 35px;
    transition: all .3s linear;
}

.hero-slider__button-prev svg,
.hero-slider__button-next svg {
    width: 10px;
    height: 100%;
}

.hero-slider__button-prev svg,
.hero-slider__button-next svg path,
.hero-slider__button-prev svg,
.hero-slider__button-prev svg path {
    fill: #111111;
}

.hero-slider__button-prev svg {
    position: absolute;
    left: 10px;
}

.hero-slider__button-next svg {
    position: absolute;
    left: 14px;
}

.hero-slider__button-prev:hover,
.hero-slider__button-next:hover {
    background: var(--green);
    transition: all .3s linear;
}

.section-hero__slider__controls {
    width: 98%;
    position: absolute;
    left: 1%;
    top: 0;
    z-index: 5;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* 
.swiper-pagination-bullets.swiper-pagination-horizontal{
    width: auto !important;
} */

/* .hero-slider__button-prev svg,
.hero-slider__button-next svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

/* .section-hero__slider {
    transform: translateY(-40px);
} */

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
    transition: all .3s linear;
}

span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    background: transparent;
    transition: all .3s linear;
}

/* .hero-slider__button-prev:hover svg,
.hero-slider__button-next:hover svg{
    background: #000;
    transition: all .3s linear;
}

.hero-slider__button-prev:hover svg path,
.hero-slider__button-next:hover svg path{
    fill: #000;
    transition: all .3s linear;
} */


/* 
.slide-image:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(49,49,49);
    background: -moz-linear-gradient(0deg, rgba(49,49,49,0.7) 0%, rgba(49,49,49,0) 50%, rgba(49,49,49,0.7) 100%);
    background: -webkit-linear-gradient(0deg, rgba(49,49,49,0.7) 0%, rgba(49,49,49,0) 50%, rgba(49,49,49,0.7) 100%);
    background: linear-gradient(0deg, rgba(49,49,49,0.95) 0%, rgba(49,49,49,0) 50%, rgba(49,49,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#313131",endColorstr="#313131",GradientType=1);
} */
/* 
.hero-slider__slide__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
} */

/* .section-hero__slider {
    padding: 3% 0;
} */

.section-hero__slider {
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.section-hero__slider__img {
    display: none;
    width: 30%;
    /* height: 600px; */
    overflow: hidden;
}

.section-hero__slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-slider.swiper {
    height: 350px;
    width: 100%;
    margin-top: 3%;
}

/* .section-hero__slider__header-block .fixed-container h2 {
    color: #fff;
} */

.hero-slider__slide__content .fixed-container {
    height: 100%;
    display: flex;
}

/*.slider-content {
    width: 70%;
    padding-top: 7%;
    align-self: center; 
}
*/
/* .hero-slider__slide__content {
    background: rgba(49,49,49, .5);
    background: -moz-linear-gradient(90deg, rgba(49,49,49,1) 0%, rgba(49,49,49,0.8) 30%, rgba(49,49,49,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(49,49,49,1) 0%, rgba(49,49,49,0.8) 30%, rgba(49,49,49,0) 100%);
    background: linear-gradient(90deg, rgba(49,49,49,1) 0%, rgba(49,49,49,0.8) 30%, rgba(49,49,49,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#313131",endColorstr="#313131",GradientType=1);
} */
/* .section-hero__slider {
    transform: translateY(-40px);
} */

/* .swiper-slide.hero-slider__slide {
    background:#fff;
    height: calc(100% - 70px);
    padding: 7px;
    border-radius: 5px;
    border:1px solid #cacaca;
    opacity: .2;
} */

.swiper-slide.hero-slider__slide {
    position: relative;
    background: rgba(1, 175, 52, 1);
    /* backdrop-filter: blur(70px); */
    height: calc(100% - 70px);
    padding: 7px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: all .3s linear;
    /* border-bottom: 2px solid var(--green); */
    /* border: 1px solid #cacaca; */
}

.swiper-slide.hero-slider__slide.swiper-slide-active {
    transform: scale(1.2);
    background: rgba(227, 231, 49, .5);
    backdrop-filter: blur(30px);
    z-index: 5;
    color: #111111;
    transition: all .3s linear;
}

/* .swiper-slide.hero-slider__slide:after {
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background: var(--black);
    position: absolute;
    left: 20%;
    bottom: 30px;
}

.swiper-slide.hero-slider__slide.swiper-slide-prev,
.swiper-slide.hero-slider__slide.swiper-slide-next{
    opacity:0.5;
} */

.swiper-slide.hero-slider__slide {
    height: 150px !important;
    display: flex;
    align-items: center;
}

/* .swiper-slide.hero-slider__slide.swiper-slide-active {
    transform: scale(1.3);
    opacity:1;
    z-index: 5;
    transition: transform .7s linear;
} */

.swiper-slide.hero-slider__slide .slider-content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    line-height: 1.2;
    /* height: 100%; */
}

.swiper-wrapper.hero-slider__wrapper {
    height: 150px;
}

.section-hero__slider__header-block .fixed-container h2 {
    width: 80%;
    margin: 0 auto;
}

.section-hero__slider__header-block .fixed-container {
    display: block;
    text-align: center;
}

.slider-content__buttons {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
}

.slider-content__buttons a {
    font-size: 20px;
    text-transform: uppercase;
}

.slider-content__buttons a:first-child {
    margin-right: 20px;
}

.hero-slider__controls {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

/* .slider-content p {
    font-size: 26px;
    font-weight: 400;
} */

.swiper.services-slider {
    height: 460px;
    width: 100%;
}

.swiper-slide.services-slider__slide {
    position: relative;
    overflow: hidden;
    /* width: 400px;
    height: 400px; */
    background: #fff;
}

.swiper-slide.services-slider__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.services-block__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.services-block__inner__left {
    width: 38%;
    background: rgba(14, 14, 14, .9);
}

.services-block__inner__right {
    width: 60%;
}

.swiper-slide.services-slider__slide {}

p.popup-description {
    margin-bottom: 30px;
}

.ls-2 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* 
.swiper-slide.services-slider__slide.swiper-slide-active {
    width: 400px !important;
    z-index: 4;
} */

/* .services-slider__wrapper .services-slider__slide:nth-child(2) {
    width: 300px !important;
    height: 300px !important;
    z-index: 3;
}

.swiper-slide.services-slider__slide.swiper-slide-active {
    width: 400px !important;
    height: 400px !important;
    z-index: 4;
    transform: none;
} */

/*SLICK*/

.slick-track {
    display: flex;
    align-items: stretch;
}

.archive-posts__grid {
    display: block;
    margin-top: 40px;
}

/* index posts*/

.entry-post__inner {
    padding: 7px;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

.entry-img {
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.entry-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.entry-post__inner {
    display: flex;
    column-gap: 20px;
    padding: 7px;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

.archive-posts__grid .entry-post__inner .entry-post__inner__head {
    color: var(--black);
}

.archive-posts__grid .entry-post__inner{
    margin-bottom: 20px;
}

.archive-posts__grid .entry-post__inner .entry-post__inner__head {
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.archive-posts__grid .entry-post__inner .entry-post__inner__head .archive__more-button{
    align-self: flex-start;
    margin-top: 30px;
}


/* .archive-posts__grid div:not(:last-child) {
    margin-bottom: 30px;
} */

/* .archive-posts__grid a{
    display: flex;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cacaca;
} */
/* 
.archive-posts__grid a img {
    width: 40%;
    height: 350px;
    object-fit: cover;
    object-position: center;
} */

.programms-description {
    text-align: center;
}


.entry-post__inner__head {
    width: 70%;
    color: #fff;
}

.entry-post__inner__head h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.entry-post__inner__head__summary {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    z-index: 5;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}



/* 
.entry-post__inner__head .entry-post__excerpt {
    height: 70px;
} */


.archive__more-button {
    align-self: flex-end;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 5px 25px;
    gap: 10px;
    background: var(--green);
    color: #fff;
    border: 1px solid var(--green);
    transition: all .5s linear;
}


.entry-post__inner__content .entry-post__inner__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entry-post__inner__thumb {
    position: absolute;
    top: 0;
    left: 0;
}


.entry-post__inner__content .entry-post__inner__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.faq-accordion .elementor-widget-container .elementor-accordion div .elementor-tab-title .elementor-accordion-icon span {
    width: 30px;
    height: 30px;
}

.faq-accordion .elementor-widget-container .elementor-accordion div .elementor-tab-title .elementor-accordion-icon span svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.toright {
    transform: translateX(-70px);
    opacity: 0;
    transition: transform .3s linear, opacity 1s ease-in-out;
}

.toleft {
    transform: translateX(70px);
    opacity: 0;
    transition: transform .5s linear, opacity 0.9s ease-in-out;
}

.tobottom {
    transform: translateY(70px);
    opacity: 0;
    transition: transform .5s linear, opacity 0.9s ease-in-out;
}

.toopacity {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.toopacity.element-show{
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.tobottom.element-show,
.toright.element-show,
.toleft.element-show {
    transform: none;
    opacity: 1;
    transition: transform .7s linear, opacity 1s ease-in;
}

/*PROGRAMMS*/

.section-programms {
    overflow:hidden;
    position: relative;
    width:100%;
    padding: 7% 0;
    background: var(--dark-green);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.section-programms:before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    background: url(../images/palms.svg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(530px);
    opacity: .4;
    background-position: center;
}

.section-programms h2{
    color: #fff;
    text-align: center;
}

.section-programms .fixed-container{
    padding-right: 10%;
    padding-left: 10%;
}

ul.programms__list {
    margin-top: 70px;
}

li.programms__list__item {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    column-gap: 50px;
    padding: 40px 0;
}

li.programms__list__item:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0;
}

ul.programms__list li:first-child:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
}

/* a.programms__more-button.button {
    border-color: #fff;
    color: #fff;
    width: 100%;
}

a.programms__more-button.button:hover{
    background:var(--black);
    border-color:var(--black);
    color: #fff;
    transition: all .3s ease-in-out;
} */
/*BOOKS*/

.section-books .fixed-container h2 {
    text-align: center;
}

.books-description{
    text-align: center;
    padding-left:10%;
    padding-right: 10%;
}
.archive-posts__grid.books {
    display: block;
}

.section-books .fixed-container {
    position:relative;
    padding: 7% 0;
}

.books-slider {
    margin-top: 30px;
}

.entry-post__books {
    display: grid;
    grid-template-columns: 500px 1fr;
    width: 100%;
    gap: 50px;
}

/* .swiper-wrapper.books-slider__wrapper {
    height: 550px;
} */

.books-slider__wrapper {
    height: 370px;
}

.books-archive__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.entry-post__books__item {
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 3px;
    background: var(--dark-green);
    border: 1px solid #cacaca;
    transition: all .3s linear;
}

.entry-post__books__item:hover {
    border-color: #fff;
    transition: all .3s linear;
}

.entry-post__books__item .book-link {
    position: relative;
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 370px;
    overflow: hidden;
    transition: all .3s linear;
}

.entry-post__books__item .book-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.entry-post__books__item h3 {
    position: relative;
    font-size: 18px;
    font-family: 'Cera', sans-serif;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    height: 110px;
    padding-bottom: 3px;
}

.entry-post__books__item .button {
    margin: 0 auto;
    width: 250px;
}

.entry-post__books__item .button:hover{
    background: none;
    border: none;
    border: 1px solid #fff;
    color: #fff;
}

.entry-post__books__item .book-link .entry-post__excerpt {
    position: absolute;
    top: 0;
    opacity: 0;
    /* transform: translateY(10%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #fff;
    line-height: 140%;
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: opacity .7s linear;
}

.entry-post__books__item .book-link:after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 104, 80, .7);
    backdrop-filter: blur(20px);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .7s ease-in;
}

.entry-post__books__item .book-link:hover:after {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.entry-post__books__item .book-link:hover .entry-post__excerpt {
    transform: translateY(0);
    opacity: 1;
    transition: opacity .7s ease-in-out;
}

.books-slider__pagination {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}


.books-slider__button-prev,
.books-slider__button-next {
    width: 20px;
    height: 50px;
    /* background: rgba(25,25,25, .4);
    border-radius: 100%; */
}

.books-slider__button-prev,
.books-slider__button-next {
    position: absolute;
    cursor: pointer;
    bottom: 45%;
    z-index: 5;
}

.books-slider__button-prev {
    left: 0;
}

.books-slider__button-next {
    right: 0;
}

.books-slider__button-prev svg, .books-slider__button-next svg{

}

.books-slider__button-prev svg, .books-slider__button-next svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.swiper.books-slider {
    /* width: 50%; */
    margin-left: 30px;
    margin-right: 30px;
}

.books-slider__button-prev:hover svg path,
.books-slider__button-next:hover svg path{
    fill: var(--green);
}

.books-slider__button-next.swiper-button-disabled svg path,
.books-slider__button-prev.swiper-button-disabled svg path{
    fill: #cacaca;
}

.books-slider__button-next.swiper-button-disabled:hover svg path,
.books-slider__button-prev.swiper-button-disabled:hover svg path{
    fill: #cacaca;
}

.entry-post__excerpt._mob{
    display: none;
}


span.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

span.swiper-pagination-bullet {
    background: rgba(1, 175, 52, 0.5);
    border-color: rgba(1, 175, 52, 0.5);
}

.books-archive__wrapper .entry-post__books__item:hover {
    background: #ededed;
}

.more-book-button {
    display:none;
    padding: 5px 25px;
    margin: 20px auto;
    display: block;
    max-width: 250px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    transition: all .3s ease-in-out;
}

.more-book-button:hover{
    background: rgba(1, 175, 52, .7);
    border: 1px solid rgba(1, 175, 52, .7);
    color: #fff;
    transition: all .3s ease-in-out;
}

/*SINGLE BOOK*/

.page-section__content {
    padding-bottom: 7%;
}

.page-section__content .fixed-container {
    /* background: url(../images/paper2.svg) no-repeat;
    background-position: center bottom;
    background-size:cover;
    transform: translateY(-20px);
    padding: 20px; */
}

/* .entry-post__books__heading {
    width: 250px;
    height: 300px;
    overflow: hidden;
} */

.entry-post__books__books-img{
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.entry-post__books__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-post__books__book-img2 {
    width: 350px;
    height: 400px;
    margin: 0 auto;
}


.entry-post__books__heading img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.entry-post__books__item .entry-post__books__item__head {
    /* height: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end; */
}

/* 
.entry-post__books__item {
    position: relative;
    width: 500px;
    height: 650px;
}

.entry-post__books img {
    width: 100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
    object-position: center;
    z-index:1;
}

.entry-post__books__item .entry-post__inner__head {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #fff;
    justify-content: space-between;
    z-index: 3;
    padding: 20px;
}

.entry-post__books__item:after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(-135deg, rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 1));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
} */

.entry-post__books__quote {
    width: calc(100% - 300px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.post__books__quote {
    position: relative;
    font-size: 18px;
    z-index: 2;
}

.entry-post__books__quote:before {
    content: '';
    width: 100px;
    height: 90px;
    background: url(../images/quote.svg) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1;
}

/*POSTS PAGE*/
.page-header__inner{
    position: relative;
    z-index: 4;
}

.page-header__inner:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/*FOOTER*/


#footer {
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--black);
}

footer#footer .fixed-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#footer:after {
    content: '';
    width: 50%;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -20%;
    top: 0;
    border-radius: 100%;
    filter: blur(100px);
    z-index: 0;
}

footer#footer .fixed-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.footer__menu li a {
    font-size: 14px;
    color: #fff;
}

.footer-left .footer__logo {
    display: block;
    width: 250px;
}

ul.footer__menu__messengers {
    display: block;
}

li.frc__contacts__item a {
    display: flex;
    align-items: center;
}

li.frc__contacts__item a {
    display: flex;
    align-items: center;
}

.footer-right.footer-contacts {
    z-index: 1;
}

li.footer__menu__messengers__item a span {
    display: block;
}

li.footer__menu__messengers__item a {
    display: flex;
}

a.frc__contacts__item__link span,
.footer__menu__messengers li a span {
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}

img.frc__contacts__item__link__img,
li.footer__menu__messengers__item a img {
    width: 18px;
}

.footer-right.footer-contacts .button {
    margin-top: 30px;
}

a.frc__contacts__item__link:hover img,
.footer__menu__messengers__item a:hover img {
    filter: drop-shadow(2px 4px 6px rgba(22, 159, 219, 0.9));
}

.fancybox-content {
    background: rgb(22, 22, 22);
    filter: drop-shadow(0 0 10px rgba(22, 159, 219, 0.5));
}



.fancybox-slide--html .fancybox-close-small {
    padding: 3px;
}

textarea.wpcf7-form-control.form-textarea {
    height: 100px;
}

.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: 0.75;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    left: calc(50% - 36px);
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    /* position: relative; */
}

/* 
section.page-section {
    background: #464646;
} */

ul.breadcrumbs__list {
    padding: 20px 0;
}

.breadcrumbs__list a {
    color: var(--green);
    text-decoration: underline;
    transition: all .3s linear;
}

.breadcrumbs__list a:hover {
    color: var(--black);
    text-decoration: none;
    transition: all .3s linear;
}

.page-section__header {
    position: relative;
}

.page-section__header {
    height: 250px;
    width: 100%;
    position: relative;
    padding-top: 140px;
}

.page-header__inner {
    position: relative;
    padding-top: 140px;
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

.page-header__inner img {
    position:absolute;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-section__header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-section__header img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-section__header {
    height: 250px;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.page-section__header .fixed-container {
    position: relative;
    z-index: 4;
}

.page-section__header .fixed-container h2 {
    color: #fff;
}

.page-section__header:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 24, 7);
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 25%); */
    background: linear-gradient(180deg, rgba(25, 25, 25, .95) 0%, rgba(25, 25, 25, 0));
    position: absolute;
    top: 0;
    left: 0;
}

/* 
.page-section__content .fixed-container {
    background: #fff;
    padding: 40px;
    transform: translateY(40px);
}

.page-section__content .fixed-container {
    background: rgb(68 68 68 / 95%);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 40px 5%;
    transform: translateY(-50px);
} */

.cta-widget {
    text-align: center;
    padding: 20px 10%;
    background: #169FDB42;
    border-radius: 3px;
    border: 1px solid #169fdbd9;
    box-shadow: 0 0 10px 0 rgba(21, 159, 219, 0.2);
}

.cta-widget a.popup.button.fill {
    display: block;
    margin: 30px auto 20px;
}

/*PAGE PROGRAMMS**/

body.programms-template-default.single.single-programms,
body.page-template.page-template-page-programms {
    /* background: #000; */
    background: rgb(71, 104, 80);
    background: radial-gradient(circle, rgba(71, 104, 80, 1) 0%, rgba(26, 38, 29, 1) 100%);
}

.programms-posts__grid__item {
    display: block;
    margin: 30px auto;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    border: 1px solid #cacaca;
    transition: all .3s linear;
}

.programms-posts__grid__item:hover{
    background: #eeeeee;
    transition: all .3s linear;
}

.programms-posts__grid__item:hover .programms-posts__grid__item__img img{
    transform: scale(1.02);
    transition: transform .3s ease-out;
}

.programms-posts__grid__item:hover .programms-posts__grid__item__head{
    color: var(--green);
}

.programms-posts__grid__item__img {
    position:relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.programms-posts__grid__item__img img {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .7s ease-in;
}

.programms-posts__grid__item__summary {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.programms-posts__grid__item__head {
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    z-index: 3;
    transition: all .3s linear;
}

.programms-posts__grid__item__summary:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 24, 7);
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 25%); */
    background: linear-gradient(180deg, rgba(25, 25, 25, .95) 0%, rgba(25, 25, 25, 0) 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.programms-posts__grid__item__summary .entry-post__button-more {
    width: 100%;
    display:block;
    padding: 10px 0;
    text-align: center;
    background: rgba(25, 25, 25, .7);
    backdrop-filter: blur(30px);
    color: #fff;
    z-index:  3;
}

.programms-posts__grid__item__summary .entry-post__button-more:hover{
    background: rgba(1, 175, 52, .4);
}

@media (max-width: 1440px) {

    .section-hero__img .fixed-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .section-hero__img__title, .section-hero__img__left-content {
        width: 80%;
    }


    .fixed-container {
        max-width: 100%;
        padding: 0 5%;
    }

    /* .e-con-inner {
        padding-left: 5% !important;
        padding-right: 5% !important;
    } */
}



@media (max-width: 1024px) {

    /* .slider-content {
        padding-top: 20%;
    } */
    /* main.main {
        padding-top: 50px;
    } */
    li.social__item {
        background: #313131;
    }
/* 
    section.page-section {
        padding-top: 70px;
    } */
/* 
    .page-header__inner {
        padding-top: 90px;
    } */

    .category-container {
        padding-top: 90px;
    }

    /* ul.header__menu__messengers {
        margin-right: 30px;
    } */
    .services-header {
        padding-top: 70px;
    }

    .section-hero__slider__img {
        display: none;
    }

    .hero-slider.swiper {
        width: 100%;
        padding: 0 5%;
    }
}

@media (max-width: 992px) {
    .slider-content {
        width: 100%;
        align-self: flex-start;
        text-align: center;
    }

    .slider-content__buttons {
        display: flex;
        justify-content: center;
    }

    .slider-content p {
        font-size: 26px;
        font-weight: 300;
        line-height: 120%;
    }

    .slide-image img {
        object-position: bottom;
    }

    .swiper.books-slider {
        /* width: 50%; */
        margin-left: 0;
        margin-right: 0;
    }

    .books-slider__controls{
        display: none;
    }

    .cta-widget h2 {
        line-height: 1.2;
        font-size: 20px !important;
    }


    .section-hero__img .fixed-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        position: relative;
        z-index: 10;
        /* background: rgba(255, 255, 255, .5); */
        /* border-bottom: 1px solid #111; */
        /* backdrop-filter: blur(30px); */
        -webkit-backdrop-filter: none;
        align-items: center;
    }

    .section-hero__img__left-content {
        position: relative;
        color: #fff;
        padding: 0;
        border-radius: 5px;
        background: transparent;
        border-bottom: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .section-hero__img__title,
    .section-hero__img__left-content {
        width: 100%;
    }

    .section-hero__img:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0.3);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .section-hero__slider {
        position: relative;
        z-index: 5;
        /* transform: translateY(-40px); */
    }

    .slider-content p {
        font-size: 18px;
    }

    .hero-slider {
        height: 230px;
    }

    .entry-post__inner__head .entry-post__excerpt {
        height: auto;
        font-size: 14px;
    }

    .archive-posts__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 30px;
    }

    .page-section__header {
        height: auto;
        padding-bottom: 30px;
        width: 100%;
        position: relative;
        padding-top: 100px;
    }

    .hero-slider.swiper {
        height: 440px;
    }

    .swiper-slide.hero-slider__slide {
        height: 150px !important;
    }
/* 
    .page-section__content .fixed-container {
        background: #eeeeee;
        transform: none;
        padding: 20px;
        border-radius: 5px;
        padding: 3% 5%;
    } */

    li.programms__list__item {
        display: block;
    }

    .programms__list__item__more {
        margin-top: 40px;
    }

    a.programms__more-button.button {
        max-width: 40%;
        background: #fff;
        color: var(--dark-green);
    }

    .entry-post__books__item .book-link .entry-post__excerpt {
        position: relative;
        top: unset;
        opacity: 1;
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        color: #fff;
        line-height: 140%;
        padding: 10px;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: opacity .7s linear;
    }

    .more-book-button {
        display:block;
    }

}

@media (max-width: 768px) {

    .footer-left {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .footer-center {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .services-header {
        padding-top: 100px;
    }

}


@media (max-width: 576px) {
    h2{
        font-size:20px;
    }
    .section-hero {
        position: relative;
        background: #fff;
        height: 100vh;
    }

    .section-hero__slider__img {
        display: block;
        width: 100%;
    }

    .section-hero__slider {
        position: relative;
        flex-direction: column;
    }

    .section-hero__slider__img {
        display: block;
    }

    /* .slider-content {
        padding-top: 30%;
    } */
    .slider-content__buttons {
        flex-direction: column;
    }

    .slider-content__buttons a {
        width: 70%;
    }

    .slider-content__buttons a:first-child {
        margin-right: 0;
        margin-bottom: 30px;
    }

    div#popup-callback {
        width: 80%;
        height: 80vh;
    }

    form.wpcf7-form p .wpcf7-form-control-wrap {
        margin-top: 0;
    }

    .entry-post__books__heading {
        display: flex;
        flex-direction: column;
    }

    .entry-post__books__quote {
        width: 100%;
        margin-top:30px;
    }

    .entry-post__books__books-img {
        width: 150px;
        height: 200px;
        overflow: hidden;
    }

    .entry-post__inner {
        display: block;
    }

    .entry-img {
        width: 100%;
    }

    .archive-posts__grid .entry-post__inner .entry-post__inner__head {
        color: var(--black);
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
    }

    .archive-posts__grid .entry-post__inner .entry-post__inner__head {
        width: 100%;
    }

    .archive-posts__grid .entry-post__inner .entry-post__inner__head .archive__more-button {
        margin-top: 30px;
    }

    footer#footer .fixed-container {
        display: block;
    }

    #footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-left .footer__logo {
        margin: 0 auto;
    }

    .footer__sidebar1 {
        text-align: center;
    }

    .footer__menu li a {
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 5px 0;
    }

    .footer__menu li:not(:last-child) {
        border-bottom: .5px dotted rgba(22, 159, 219, 0.5);
    }

    .footer-center {
        margin-top: 20px;
    }

    li.frc__contacts__item a span {
        display: none;
    }

    li.footer__menu__messengers__item a span {
        display: none;
    }

    ul.footer__right__contacts {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    ul.footer__menu__messengers.flex.align-center {
        display: flex;
        width: 50%;
    }

    .footer-right.footer-contacts {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-right.footer-contacts .button {
        margin-top: 0;
    }

    ul.footer__right__contacts li,
    .footer__menu__messengers li {
        padding: 5px 7px;
    }

    .footer-right.footer-contacts .button {
        width: 100%;
        margin: 20px auto;
    }

    ul.posts__list {
        display: block;
    }

    ul.posts__list li:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {

    .section-hero__slider {
        position: relative;
        z-index: 5;
        margin-top: 30px;
        transform: none;
    }

    .section-hero__img .fixed-container {
        align-items: center;
        justify-content: center;
    }

    .page-section__header {
        height: 200px;
    }

    section.section-hero {
        padding-top: 30%;
    }

    .page-header__inner {
        padding-top: 25%;
    }

    .category-container {
        padding-top: 190px;
    }

    .services-header {
        padding-top: 140px;
    }

    .cta-widget h2 {
        line-height: 1.2;
        font-size: 18px !important;
    }

    .archive-posts__grid a{
        overflow: hidden;
        height: auto;
        width: 100%;
        position: relative;
        border: 1px solid #cacaca;
    }

    .archive-posts__grid a img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .entry-post__inner__head h3 {
        font-size: 18px;
    }

    /* .entry-post__inner__head {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        width: 100%;
        color: #fff;
        background: #252525;
        backdrop-filter: blur(30px);
        position: relative;
        bottom: 0;
    } */

    a.programms__more-button.button {
        max-width: 100%;
    }
}

@media (max-width: 360px) {

    h1,
    h2 {
        font-size: 32px;
    }

    .slider-content p {
        font-size: 20px;
    }
}


.wp-block-media-text .wp-block-media-text__content {
    padding: 0 2%;
}

.wp-block-media-text.is-stacked-on-mobile.icon-marks figure {
    width: 60px;
}

.icon-marks {
    grid-template-columns: 70px auto !important;
    margin-top: 20px;
}

.post-header {
    height: 400px;
    width: 100%;
}

.post-header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__inner .post-container {
    padding: 30px;
    background: rgba(49, 49, 49, .9);
}

.post__inner {
    transform: translateY(-70px);
    z-index: 2;
}

.post__inner__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(49, 49, 49, .9);
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

@media (max-width: 1440px) {
    .post-container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .post-container {
        max-width: 90%;
    }

    .books-archive__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .post-header {
        padding-top: 70px;
    }
}

@media (max-width: 992px){
    .books-archive__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }
}

@media (max-width: 576px) {
    .post-header {
        height: 200px;
        width: 100%;
    }

    .post__inner__head {
        display: flex;
        flex-direction: column-reverse;
    }

    .post-container .post__inner__head ul.breadcrumbs__list {
        padding: 0;
    }

    .books-archive__wrapper {
        display: block;
    }

    .books-archive__wrapper .entry-post__books__item:not(:last-child) {
        margin-bottom: 20px;
    }
}

.services-content .fixed-container .post-header__video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*MAINPAGE SLIDER*/


.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel {
    height: 350px !important;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide {
    height: 100%;
}

.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide figure{
    height: 100%;
}

.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide.swiper-slide-next a figure img{
    -webkit-filter: unset;
    -moz-filter: unset;
    -ms-filter:unset; 
    -o-filter: unset;
    filter: unset;
    filter: unset;
}
.swiper-slide{
transition: all .3s ease-in-out;
}
.mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide.swiper-slide-next {
    position: relative;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .4));
    border: 7px solid #fff;
    z-index: 5;
    transition: all .3s ease-in-out;
}

.elementor-widget-image-carousel .swiper-slide {
    text-align: center;
}

@media (max-width: 1024px){
    .mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide figure img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        -webkit-filter: unset;
        -moz-filter: unset;
        -ms-filter: unset;
        -o-filter: unset;
        filter: unset;
        filter: unset;
    }

    .mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide.swiper-slide-next {
        position: relative;
        transform: none;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .4));
        border: none;
        z-index: 5;
        transition: all .3s ease-in-out;
    }

    .mainpage-gallery .elementor-element .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel {
        height: 550px !important;
    }

    .elementor-element .swiper-container .elementor-swiper-button, .elementor-element .swiper-container~.elementor-swiper-button, .elementor-element .swiper .elementor-swiper-button, .elementor-element .swiper~.elementor-swiper-button, .elementor-lightbox .swiper-container .elementor-swiper-button, .elementor-lightbox .swiper-container~.elementor-swiper-button, .elementor-lightbox .swiper .elementor-swiper-button, .elementor-lightbox .swiper~.elementor-swiper-button {
        font-size: 50px !important;
    }
}